<footer>
    <div class="wrapper">
      <div id="footer-tandc">
        <div class="legal-wrapper">
          <div class="legal-link">
            <a href="#">Terms &amp; Conditions</a> <span> [ + ]</span>
          </div>
          <div class="legal-content" style="display: none;">
            <p><sup>1</sup> text goes here</p>
          </div>
        </div>
        <p>&copy; 2017 CAA Club Group. All rights reserved. Serving Members in Southern and Central Ontario and Manitoba.</p>
        <p>&reg; CAA trademarks owned by, and use is authorized by, the Canadian Automobile Association. Making bad days good. And good days better. is a trademark of CAA Club Group.</p>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
