//PROJECT VARIABLES

//////////////////////////////////////////
// ------------------------------------*\
//     # BreakPoints
// \*------------------------------------
$bp-smallest: 320px;
$bp-small: 568px;
$bp-medium: 768px;
$bp-large: 960px;

$mobile-width: $bp-medium;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



//////////////////////////////////////////
// ------------------------------------*\
//     # Margins and spacing
// \*------------------------------------
$margin-bottom: 50px;
$margin-bottom--small: 20px;

$margin-bottom-desktop:$margin-bottom;
$margin-bottom-mobile:30px;


$space: 2%;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$pad: 4%;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter:$pad/4;


$btn-pad-lrg:13px 30px;
$btn-pad-sml:8px 20px;


$v-margin: 16px;
$v-margin-and-half: $v-margin*1.5;
$v-margin-double: $v-margin*2;
$v-margin-half: $v-margin/2;
$v-margin-quarter: $v-margin/4;


//////////////////////////////////////////
// ------------------------------------*\
//     # Colors
// \*------------------------------------

//brand
$caa-blue:#00338d;
$caa-blue-alt:#2962c6;
$caa-blue-light:#dbe4f3;
$caa-blue-light-alt:#ebecee;

$caa-red:#cd281e;
$caa-color-default:#333;

$green-light: #65b32b;
$green-dark: #3f9402;

$disabled-grey-light:#ccc;
$disabled-grey:#e7e7e7;
$disabled-grey-dark:#999999;


$grey-light: #f9f9f9;
$grey-light-2: #f2eded;
$grey-light-3: #ddd;

$grey: #ccc;
$grey-dark: #666;
$grey-dark-2: #333;
$white: #fff;
$black: #000;
$light-blue: #f5f9fb;
$light-green: #ddecc3;
$green: #61a62e;
$opacity-light: rgba(0,0,0,0.5);
$error: #f00;
$valid: #089e00;
$warn: #fff664;
$info: #000db5;


//////////////////////////////////////////
// ------------------------------------*\
//     # Typography
// \*------------------------------------
// @import url(//fast.fonts.net/cssapi/2dc67787-4d8d-43bf-a8f6-96f474b9302e.css);

$font: "Neue Helvetica W01", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
// $font: "Source Sans Pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$font-size-smallest: 10px;
$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-medium: 18px;
$font-size-large: 23px;
$font-size-larger: 32px;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
// $font-weight-light: 200;
// $font-weight-normal: 300;
// $font-weight-bold: 400;
// $font-weight-bolder: 600;

$line-height: 140%;
$line-height-hdr: 120%;

//Layout
$max-width: 960px; //960px
$min-width: 320px; //960px


//Borders
$border: 1px solid $grey;

$corner: 2px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
